# Compiled files
/bin/
/obj/
*.exe
*.dll
*.pdb
*.dll.config

# IDE-specific
.vscode/
.idea/
*.userprefs
*.user

# NuGet packages
/packages/
*.nupkg
*.paket

# Logs and caches
*.log
*.lock
*.cache

# Solution-specific
*.suo


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
